<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
    <title>curso Java Script</title>
</head>
<bodyo >
    <h1>Funciones en Javascript</h1>
    <h3>No olvides presionar Ctrl + Shift + J para ver la consola</h3>

    <button onclick="saludar('Tomas')">¡Presiona éste botón para saludar!</button>
    <button onclick="sumando(15,26)">¡suma de dos números!</button>
    <button onclick="multiplicando(36,2)">¡Multiplica dos números!</button>
    

    <script src="../public/js/ejemplo3.js"></script>

</body>